.photo-section {
    margin-bottom: 25px;
}

.photo-button {
    display: inline-block;

    background: #5b5be7;

    color: white;

    padding: 14px 22px;

    border-radius: 12px;

    font-weight: bold;

    cursor: pointer;

    transition: 0.2s;
}

.photo-button:hover {
    background: #4646c9;

    transform: translateY(-2px);
}

#photoName {
    margin-top: 10px;

    color: #777;

    font-size: 14px;

    overflow: hidden;

    text-overflow: ellipsis;

    white-space: nowrap;
}
